<ion-view view-title="View">
  <ion-content class="calendar-tab">
    <div ng-repeat="date in calendarData">
      <div class="card">
        <div class="item item-divider">
          {{date.date}}
        </div>
        <div class="item item-icon-left item-icon-right item-text-wrap" ng-repeat="habit in date.habits" ng-style="{'color' : habit.done ? habit.color : 'grey', 'opacity' : habit.done ? 1 : 0.3}">
          <!-- if the background stays white, just use a lighter grey instead of opacity -->
          <i class="icon" ng-class="habit.icon"></i>
          <span>{{habit.name}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
