<ion-modal-view ng-controller="AddHabitCtrl as vm">
  <ion-header-bar class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-close" ng-click="vm.cancelNewHabit()"></a>
    <h1 class="title">Habits</h1>
    <!--<button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>-->
  </ion-header-bar>
  <ion-content class="edit-habit-list-modal">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Habit</span>
      <input type="text" placeholder="Type a habit here" ng-model="vm.name">
    </label>
    <div class="item item-icon-left" ng-click="vm.showColorOptions = !vm.showColorOptions">
      <i class="icon ion-android-checkbox-blank" ng-style="{'color': vm.color}"></i>
      Color
    </div>
    <div class="item item-text-wrap" ng-show="vm.showColorOptions">
      <a class="button button-icon icon ion-android-checkbox-blank" ng-style="{'color': color}" ng-repeat="color in vm.colors" ng-click="vm.selectColor(color)"></a>
    </div>
    <div class="item item-icon-left" ng-click="vm.showIconOptions = !vm.showIconOptions">
      <i class="icon" ng-class="vm.icon"></i>
      Icon
    </div>
    <div class="item item-text-wrap" ng-show="vm.showIconOptions">
      <a class="button button-icon icon ion-android-checkbox-blank" ng-class="icon" ng-repeat="icon in vm.icons" ng-click="vm.selectIcon(icon)"></a>
    </div>
    <div class="item">
      <button class="button button-block button-positive" ng-click="vm.createHabit(vm.name); vm.name = '';" ng-disabled="vm.name === ''">
        Confirm
      </button>
    </div>
  </ion-content>
</ion-modal-view>
